<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen.phone"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 允许应用程序读取通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- 连接互联网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Call"
            android:label="@string/title_activity_call"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentRecent"
            android:label="@string/title_activity_fragment_recent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentMe_login"
            android:label="@string/title_activity_fragment_me_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
